extends layouts/main
include mixins/videoPlayer
include mixins/videoComment

block content
    .video-detail__container
        .video__player
            +videoPlayer({
                src:video.fileUrl
            })
        .video__info
            if loggedUser
                if video.creator.id === loggedUser.id
                    a(href=routes.editVideo(video.id))
                        button EDIT VIDEO
            h5.video__title=video.title
            .video__author
                |Uploaded by 
                a(href=routes.userDetail(video.creator.id))=video.creator.name
            if video.views === 1
                span.video__views 1 view
            else
                span.video__views #{video.views} views    
            if video.likes === 1
                span.video__likes 1 like
            else
                span.video__likes #{video.likes} likes    
            p.video__description=video.description
        .video__comments
            if video.comments.length === 1
                span.video__comment-number#jsCommentNumberOuterSpan
                    span#jsCommentNumber 1
                    |  comment
            else
                span.video__comment-number#jsCommentNumberOuterSpan
                    span#jsCommentNumber=video.comments.length
                    |  comments
            form.add__comment#jsAddComment
                if loggedUser 
                    textarea#jsAddCommentText(rows="1", style="height:1em;", placeholder="Add a comment")
                    .add__commentBtn
                        button#add__commentCancel 취소
                        input#add__commentSubmit(type="submit", value="댓글")
                else 
                    input(type="text", placeholder="Please Login for writing comments.", disabled)
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    +videoComment({
                        isCreator : comment.creator.id == video.creator.id,
                        isOwn : loggedUser ? comment.creator.id == loggedUser.id : false,
                        commentId : comment.id,
                        text : comment.text,
                        creator : comment.creator
                    })